.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
  text-decoration: none;
}

.menu > li > a {
  background: rgb(202, 177, 32);
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.menu ul {
  background: rgb(211, 192, 21);
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top: 35px;
  text-decoration: none;
  width: 100%;
}

.menu li:hover ul {
  height: 200px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  color: #000;
  display: block;
  padding: 5px 20px;
}

.radius a {
  border-radius: 25px;
}
.radiusone {
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  font-family: "Orbitron", sans-serif;
}

ol {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
  list-style: none;
}

.menu-item {
  background: #444;
  padding: 0.5em 0.5em;
  position: relative;
  border-bottom: 5px solid #999;
  margin: 0 0.1em;
  -webkit-transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
  cursor: pointer;
  min-width: 15em;
  text-align: center;
}
.menu-item[aria-haspopup="true"] {
  border-bottom-color: #fc9b1b;
}
.menu-item:hover,
.menu-item:focus-within {
  border-bottom-color: #91d36b;
  background: rgb(224, 104, 104);
}
.menu-item:hover .sub-menu,
.menu-item:hover .sub-menu:hover,
.menu-item:focus-within .sub-menu,
.menu-item:focus-within .sub-menu:hover {
  visibility: visible;
  opacity: 1;
  display: -webkit-box;
  display: flex;
}

.sub-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  margin-top: 0em;
  visibility: hidden;
  display: none;
  opacity: 0;
}
.sub-menu .menu-item {
  margin: 0.1em 0;
  padding: 1em;
  width: 10em;
  text-align: center;
  z-index: 2;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
a:focus {
  outline: none;
}

@media (max-width: 690px) {
  .menu {
    width: 95%;
    font-size: 16px;
  }

  .menu-item {
    margin: 0.1em;
  }
  .menu-item:nth-child(1) {
    -webkit-box-ordinal-group: 1;
    order: 0;
  }
  .menu-item:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
  .menu-item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    order: 3;
  }
  .menu-item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
    order: 4;
  }
  .menu-item:nth-child(5) {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
@media (max-width: 480px) {
  .menu {
    font-size: 12px;
  }
}
